/*ส่วนของ body*/

body{
    margin: 20px 50px;
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;;
}
/*ส่วนของไสลด์บล็อกใน header tag element */
.outerbox{
    width: 1250px;
    overflow: hidden;
}
/*เป็นการสร้าง slibox ให้ attribute position มีค่าเท่ากับ relative มี attribite width มีค่าเป็น 3600px 
attribute animation-name มีค่าเท่ากับ sligeranimation คือเป็นการตั้งชื่อของanimation 
attribute animation-duration มีค่าเท่ากับ 20s คือการที่ไสลด์วนครบรอบใช้เวลา 20วินาที
และattribute animation-iteration-count มีค่าเท่ากับ infinite คือการเล่น animation จะเล่นเรื่อยๆ*/
.sliderbox{
    position: relative;
    width: 3600px;
    animation-name: slideranimation;
    animation-duration: 20s;
    animation-iteration-count: infinite
}
/*ใช้ Attribute float ให้ภาพเลื่อนไปด้านซ้าย*/
div img{
  
    float: left;
}
/*เป็นการกำหนดว่าภาพจะเลื่อนกี่เปอร์เซ็น และเลื่อยเป็นหน่วย px ในทุกๆกี่วินาที */
@keyframes slideranimation{
    0%{
        left: 0px;

    }
    20%/* 4second*/
    {
        left: 0px;
    }
    25% /* 5 second*/
    {
        left: -800px;
    }
    45% /*9 second*/
    {
        left: -800;
    }
    50% /*10 second*/
    {
        left: -1600;
    }
    70% /*14 second*/
    {
        left: -1600;
    }

}
/*ส่วนของเมนูกำหนด attribute display มี value เป็น block */
ul {
    list-style-type: none;
    overflow: hidden;
    margin:0px ;
    padding: 0px;
    background-color: rgb(12, 12, 12);
}

li {
    list-style: none;
    float: left;   
}
p{
    text-align:center;
}

li a {
    display: block;
    color: rgb(253, 249, 249);
    text-align: center;
    padding: 10px 120px;
    text-decoration: none;
}
/*เมื่อมีเมาส์ไปคลิกที่ element li จะเปลี่ยนสีแบล็กกราวเป็นสีเทา*/
li a:hover {
   background-color: rgb(136, 133, 133);
   color: black;
 
}
.search-bar{
    text-align: center;
    left: 50%;
    margin: 10px 4px ;
    box-sizing: border-box;
    border-radius: 10%;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
figure img{
    border-radius: 50%;
}

figure img:hover {
  filter: opacity(30%);
}
/*ใช้เพื่อให้เป็นขอบรอบ main element*/
fieldset{
    margin: 20px 0;
    border: dashed rgb(124, 120, 120);

}
/*ให้สามาถแสดงข้อความระหว่างขอบของ fieldset ได้*/
legend{
    font: 35px bold;
    color: rgb(124, 120, 120);
   display: block;
  
}

footer{
    background-color: rgb(54, 53, 53);
    color : white;
    text-align: center;
 
}

/*responsive*/
@media screen and (max-width:1300px)  {

    li a {
        display: block;
        color: rgb(253, 249, 249);
        text-align: center;
        padding: 10px 85px;
        text-decoration: none;
    }
    
       article{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    
    }  
    .outerbox{
        width: 1150px;
        overflow: hidden;
    }

}

@media screen and (max-width:700px)  {
   
    li a {
        display: block;
        color: rgb(253, 249, 249);
        text-align: center;
        padding: 10px 28.7px;
        text-decoration: none;
    }

       article{
        display: grid;/*ให้ element article ตั้งค่า attribute display มีค่า value เป็น grid โดบมีเพียงคอลัมเดียว*/
        grid-template-columns: 1fr  ;
    }  
    
    .outerbox{
        width: 100%;/*เป็นการกำหนดให้สไลด์บล็อกเป็น 100% */
        overflow: hidden;
    }

}


@media screen and (max-width:360px)  {
   body{
    margin:10px 10px ;
   }

    li a {
        display: grid;
        color: rgb(253, 249, 249);
        text-align: center;
        padding: 10px 5px;
        width: 340px;
       
    }

       article{
        display: grid;/*ให้ element article ตั้งค่า attribute display มีค่า value เป็น grid โดบมีเพียงคอลัมเดียว*/
        grid-template-columns: 1fr  ;
    }  
    
    .outerbox{
        width: 100%;/*เป็นการกำหนดให้สไลด์บล็อกเป็น 100% */
        overflow: hidden;
    }

    fieldset{
        margin: 10px 10px ;
        
    }
    figure img{
      width:100%;/*เป็นการกำหนดภาพให้มีขนาด  100% */
    }
  
}