
body{
    margin: 20px 50px ;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;;
}

/*ส่วนของไสลด์บล็อกใน header tag element */
.outerbox{
    width: 1250px;
    overflow: hidden;
}
/*เป็นการสร้าง slibox ให้ attribute position มีค่าเท่ากับ relative มี attribite width มีค่าเป็น 3600px 
attribute animation-name มีค่าเท่ากับ sligeranimation คือเป็นการตั้งชื่อของanimation 
attribute animation-duration มีค่าเท่ากับ 20s คือการที่ไสลด์วนครบรอบใช้เวลา 20วินาที
และattribute animation-iteration-count มีค่าเท่ากับ infinite คือการเล่น animation จะเล่นเรื่อยๆ*/
.sliderbox{
    position: relative;
    width: 3600px;
    animation-name: slideranimation;
    animation-duration: 20s;
    animation-iteration-count: infinite
}
/*ใช้คำสั่ง float เพื่อให้เลื่อนไปได้ซ้ายเรื่อยๆ */
div img{
  
    float: left;
}

/*เป็นการกำหนดว่าภาพจะเลื่อนกี่เปอร์เซ็น และเลื่อยเป็นหน่วย px ในทุกๆกี่วินาที */
@keyframes slideranimation{
    0%{
        left: 0px;

    }
    20%/* 4second*/
    {
        left: 0px;
    }
    25% /* 5 second*/
    {
        left: -800px;
    }
    45% /*9 second*/
    {
        left: -800px;
    }
    50% /*10 second*/
    {
        left: -1600px;
    }
    70% /*14 second*/
    {
        left: -1600px;
    }

}
/*เมนูกำหนด display เป็น block */
ul {
    list-style-type: none;
    overflow: hidden;
    margin:0px ;
    padding: 0px;
    background-color: rgb(12, 12, 12);
}

li {
    list-style: none;
    float: left;
   
}
p{
    text-align:center;
}

li a {
    display: block;
    color: rgb(253, 249, 249);
    text-align: center;
    padding: 10px 161.2px;
    text-decoration: none;
}
/*เมื่อมีเมาส์ไปคลิปที่เมนูจะเปลี่ยนสีแบล็กกราวเป็นสีเทา*/
li a:hover {
    background-color: rgb(136, 133, 133);
}
/*ส่วนของ main tag element*/
img.profile{
    width: 240px;
    height: 250px;
    border-radius: 50%;
}

figure{
   position:static;
   float:  right;
}
P{
    text-align: left;

}

fieldset{
    margin: 20px 0;
    border: dashed rgb(124, 120, 120);
    border-radius: 5%;
}

legend{
    font: 35px bold;
    color: rgb(124, 120, 120);
   display: block;
  
}
#Credit{
    margin: 5px;
    padding: 0px;
    color:black;
}

/*responsive*/
@media screen and (max-width:1300px)  {
   
    li a {
        display: block;
        color: rgb(253, 249, 249);
        text-align: center;
        padding: 10px 85px;
        text-decoration: none;
    }
    
    .outerbox{
        width: 1150px;
        overflow: hidden;
    }

}

@media screen and (max-width:850px)  {
  
    li a {
        display: block;
        color: rgb(253, 249, 249);
        text-align: center;
        padding: 10px 28.7px;
        text-decoration: none;
    }

    .outerbox{
        width: 100%;
        overflow: hidden;
    }

}

@media screen and (max-width:360px)  {
 
body{
    margin: 20px 10px ;
}

    li a {
        display: block;
        color: rgb(253, 249, 249);
        text-align: center;
        padding: 12px 8.7px ;
        text-decoration: none;
    }
    .outerbox{
        width: 100%;
        overflow: hidden; /*เป็นการกำหนดให้สไลด์บล็อกเป็น 100% เพื่อให้ภาพไม่ยืดหรือขนาดใหญ่กว่าขอบที่เราตั้งไว้*/
    }

fieldset{  
        border:None;
   
    }
}