
/*ส่วนของ body*/
body{
    margin: 20px 100px ;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}
/*ส่วนของไสลด์บล็อกใน header tag element */
.outerbox{
    width: 1150px;
    overflow: hidden;
}
/*เป็นการสร้าง slibox ให้ attribute position มีค่าเท่ากับ relative มี attribite width มีค่าเป็น 3600px 
attribute animation-name มีค่าเท่ากับ sligeranimation คือเป็นการตั้งชื่อของanimation 
attribute animation-duration มีค่าเท่ากับ 20s คือการที่ไสลด์วนครบรอบใช้เวลา 20วินาที
และattribute animation-iteration-count มีค่าเท่ากับ infinite คือการเล่น animation จะเล่นเรื่อยๆ*/
.sliderbox{
    position: relative;
    width: 3600px;
    animation-name: slideranimation;
    animation-duration: 20s;
    animation-iteration-count: infinite
}
/*ใช้ Attribute float ให้ภาพเลื่อนไปด้านซ้าย*/
div img{
  
    float: left;
}
/*เป็นการกำหนดว่าภาพจะเลื่อนกี่เปอร์เซ็น และเลื่อยเป็นหน่วย px ในทุกๆกี่วินาที */
@keyframes slideranimation{
    0%{
        left: 0px;

    }
    20%/* 4second*/
    {
        left: 0px;
    }
    25% /* 5 second*/
    {
        left: -800px;
    }
    45% /*9 second*/
    {
        left: -800;
    }
    50% /*10 second*/
    {
        left: -1600;
    }
    70% /*14 second*/
    {
        left: -1600;
    }

}
/*ส่วนของเมนูกำหนด attribute display มี value เป็น block */
ul {
    list-style-type: none;
    overflow: hidden;
    margin:0px ;
    padding: 0px;
    background-color: rgb(12, 12, 12);
}

li {
    list-style: none;
    float: left;
   
}
p{
    text-align:center;
}

li a {
    display: block;
    color: rgb(253, 249, 249);
    text-align: center;
    padding: 10px 146.6px;
    text-decoration: none;
}
/*เมื่อมีเมาส์ไปคลิกที่ element li จะเปลี่ยนสีแบล็กกราวเป็นสีเทา*/
li a:hover {
    background-color: rgb(136, 133, 133);
}


figure img{
    border-radius: 50%;
    width: 250px;
    height: 300px;
   box-shadow:  10px 10px 50px grey;
 }
figure{
    text-align: center;

}
/*ใช้เพื่อให้เป็นขอบรอบ main element*/
fieldset{
    margin: 20px 0;
    border: dashed rgb(124, 120, 120);
}

legend{
    font: 35px bold;
    color: rgb(124, 120, 120);
   display: block;
   text-align: center;
   border: dashed ;
   
  
}

footer{
    background-color: rgb(54, 53, 53);
    color : white;
    text-align: center;
 
}

article{
    margin: 25px;
    padding: 10px;
}
p{
    text-align: left;
    font-size: 20px;
}

/*resposive*/

@media screen and (max-width:1300px) {
 
   
    li a {
        padding: 10px 125.6px;
        text-decoration: none ;
      
    }
    .outerbox{
        width: 1050px;
        overflow: hidden;
    }
}

@media screen and (max-width:800px) {
 
   ul {
        display: grid;
        grid-template-columns: 1fr ;
      
    }
    .outerbox{
        width: 100%;/*เป็นการกำหนดให้สไลด์บล็อกเป็น 100% */
        overflow: hidden;
    }
}

@media screen and (max-width:360px)  {
 
    body{
        margin:20px 10px;
    }
  
    main{
      display: grid;
      grid-template-columns: 1fr;
  
  }
  
     .outerbox{
      width:170%;/*เป็นการกำหนดให้สไลด์บล็อกเป็น 170% */
  }
  
  figure img{
      width: 50%;
  }
  
  li a {
      display: block;
      color: rgb(253, 249, 249);
      text-align: center;
      padding:10px 8.7px;
  }
  nav{
      width: 170%;/*เป็นการกำหนดให้เมนูเป็น 170% บล็อกเมนูที่สร้างไว้ขนาดพอดีกับการทำreponsive*/

  }

}


